[Unit]
Description=LBRY seeder
Wants=lbrynet.service

[Service]
Type=oneshot
User=lbry-seeder
Group=lbry-seeder
RemainAfterExit=no

ExecStart=/usr/bin/lbry-seeder /etc/lbry-seeder/lbry-seeder.edn

[Install]
Also=zegeba-backup-hourly.timer
