[Unit]
Description=lbrynet daemon
After=network.target remote-fs.target

[Service]
Type=simple
User=lbry-seeder
Group=lbry-seeder
Restart=on-failure
RestartSec=30s
TimeoutStopSec=300s

ExecStop=/usr/bin/lbrynet stop
ExecStart=/usr/bin/lbrynet start \
  --config /etc/lbry-seeder/lbrynet.yml

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true

StateDirectory=lbry-seeder
StateDirectoryMode=0750

ConfigurationDirectory=lbry-seeder
ConfigurationDirectoryMode=0755

[Install]
WantedBy=multi-user.target
