{
  :channels ["lbry://@MoneroMatteo#b"
             "lbry://@colintalkscrypto#8"
             "lbry://@DollarVigilante#b"
             "lbry://@MarcDeMesel#6"
             "lbry://@thecrowhouse#2"
             "lbry://@vinarmani#1"
             "lbry://@whygoldandsilver#1"]
}
